.gr__wrapper {
    overflow-x: auto;
    white-space: nowrap;

    display: flex;
    flex-grow: 1;
    margin: 0px 20px;

    justify-content: start;
    align-items: center;

    background-color: rgba(81, 81, 81, 0.37);
    border-radius: 25px;
    backdrop-filter: blur(5px);
    min-width: 550px;
    min-height: 200px;
    position: relative;
}

.st_container {
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    margin: 5px 15px;
}

/* width */
::-webkit-scrollbar {
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:active {
    background: rgba(81, 81, 81, 0.37);
    backdrop-filter: blur(5px);

  }