header {
  padding-top: 40px;
  position: sticky;
}

.header__inner {
    color: white;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 20px 25px;
    border-radius: 25px;
  }

.items {
    display: flex;
    align-items: center;
}

.logo{
  height: 40px;
}

.btn__inner {
    padding-left: 35px;
}

.fa-github, 
.fa-telegram, 
.fa-instagram,
.fa-map-pin {
    color: white;
    font-size: 30px;
    transition: all ease-in-out 0.2s;
    padding: 0px 10px;
}

.fa-map-pin {
  font-size: 20px;
}

  .fa-telegram:hover {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
    transform: scaleX(1.2) scaleY(1.2);
  }
  
  .fa-instagram:hover {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
    transform: scaleX(1.2) scaleY(1.2);
  }
  

  .fa-github:hover {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
    transform: scaleX(1.2) scaleY(1.2);
  }