header {
  padding-top: 40px;
  position: sticky;
}

.header__inner {
    color: white;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    background-color: rgba(81, 81, 81, 0.37);
    border-radius: 25px;
    backdrop-filter: blur(5px);
  }

.items {
    display: flex;
    align-items: center;
}

.logo{
  height: 40px;
}

.btn__inner {
    padding-left: 30px;
}

.fa-cloud-moon {
  color: white;
  font-size: 50px;
} 


.fa-github,
.fa-telegram, 
.fa-instagram {
    color: white;
    font-size: 30px;
    transition: all ease-in-out 0.2s;
    padding: 0px 10px;
}

@media only screen and (max-width: 490px){
  .fa-github,
  .fa-telegram, 
  .fa-instagram {
      color: white;
      font-size: 20px;
      transition: all ease-in-out 0.2s;
      padding: 0px 5px;
  }

  .btn__inner {
    padding-left: 10px;
}

header{
  padding-left: 10px;
}
}

.fa-map-pin {
  padding-left: 10px;
  font-size: 20px;
  color: white;
}

  .fa-telegram:hover {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
    transform: scaleX(1.2) scaleY(1.2);
  }
  
  .fa-instagram:hover {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
    transform: scaleX(1.2) scaleY(1.2);
  }
  

  .fa-github:hover {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
    transform: scaleX(1.2) scaleY(1.2);
  }

