@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1;
  background-image: url('./assets/weather.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

@media only screen and (max-width: 490px) {
  body {
    background-image: url('./assets/pexels-teju-17145587.jpg');
    background-size: 150%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  height: 60vh;
}

h1 {
  color: white;
  font: 30px Roboto;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
}

p   {
  font: 20px;
  text-align: center;
  color: white;
  font-weight: light
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

h2 {
  color: white;
  font: 45px Poppins;
  font-weight: medium;
  text-align: center;
}

.container {
  height: auto;
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
}

button {
  /* box-sizing: content-box; */
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-style: none;
  border-radius: 30px;
  padding: 10px 30px;
  /* width: 200px;
  height: 60px; */
  cursor: pointer;
  font-size: 15px;
  font-weight: medium;
  transition: all 0.1s;
}

button:hover {
  filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.5));
}

button:active {
  background-color: rgba(255, 255, 255, 0.5);
  filter: none;
}

.btn__top {
  position: fixed;
  bottom: 2.5rem;
  right: 5rem;
  text-align: center;
  color: #000000;
  border-style: none;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: medium;
  transition: all .2s
}